<% include ./partials/header %>

<h1>Нууц үгээ сэргээх</h1>

<p>Танд нууц үг сэргээх мейл очиж сэргээх болно.</p>

<form action="/forgot" method="POST">
  <input type="text" name="email" placeholder="email">
  <button>Сэргээх мейл илгээх</button>
</form>

<li><a href="/register">Бүртгүүлэх</a></li>
<li><a href="/login">Нэвтрэх</a></li>

<% include ./partials/footer %>
