<% include ./partials/header %>


<h1>Authentication Home Page!</h1>


<li><a href="/register">Бүртгүүлэх</a></li>
<li><a href="/login">Нэвтрэх</a></li>

<li><a href="/secret">Маш нууц</a></li>

<li><a href="/forgot">Нууц үгээ мартсан?</a></li>


<% include ./partials/footer %>
