<h1>Password Reset mail has sent to you!</h1>

<p>Баталгаажуулвал илүү гоё юм харахдаа амны алчуураа бэлд</p>

<form action="/reset" method="POST">
  <input type="password" name="oldPassword" placeholder="Хуучин нууц үг">
  <p>Шинэ нууц үгээ давтан оруулна уу!</p>
  <input type="password" name="newPassword1" placeholder="Шинэ нууц үг 1">
  <input type="password" name="newPassword2" placeholder="Шинэ нууц үг 2">
  <button>Submit</button>
</form>

<li><a href="/logout">Гарах</a></li>

<img src="https://i.imgur.com/GdCUuLL.jpg" alt="">
