<% include ./partials/header %>

<h1>Secret Page!</h1>

<% if(mailStatus) { %>
  <h4> Мейл баталгаажсан байна. </h4>
<% } else  { %>
  <h4> Баталгаажуулах шаардлагатай!</h4>
<% } %>


<li><a href="/logout">Гарах</a></li>

<li><a href="/users">Хэрэглэгчийн цэс</a></li>

<p>I got you, Anya</p>
<img src="https://external-preview.redd.it/Z-CRi75l3T356PlPoitnIaMnP7ZVSphTgLfxE2szyXM.png?auto=webp&s=7eb34beffca742268a1dc95a6f9b431ee4ddb62a" alt="">


<% include ./partials/footer %>
